 body {
    background: linear-gradient(90deg, rgba(75, 6, 193, 1) 0%, rgba(206, 2, 189, 1) 100%);
}
.Img{
    width: 750px;
    height: 750px;
}
.animation{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 2;
}
.brain{
    position: absolute;
    animation-name: brainbob;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    width: 1000px;
    height: 1000px;
}
@keyframes brainbob{
0% {
    transform: translateY(10px) rotate(-2deg);
}
100% {
    transform: translateY(-30px) rotate(0deg);
}
}